button {
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
}

button:hover {
    background-color: gray;
    color: white;
}

.navbar {
    width: 100%;
    background-color: aliceblue;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

a {
    text-decoration: none;
    list-style: none;
}